@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
  }
}

body {
  background: var(--background);
}
