@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --background_blue: #7599b3;
  --white0: #fff;
  --white: #faf8f4;
  --black: #000;
  --blue: #678195;
  --blue2: #6890ad;
  --blue3: #39557c;
  --red: #e9dfdc;
  --red1: #6f1817;
  --red2: #520100;
  --gold: #ffcc00;
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

body {
  background: var(--background);
}
p,
li,
a {
  @apply text-[1rem] 1024px:text-[.8rem] text-black;
}

h1 {
  @apply text-[4rem] 820px:text-[3rem];
}

h2 {
  @apply text-[3rem] 820px:text-[2rem];
}

h3 {
  @apply text-[2rem]  820px:text-[1rem];
}

input[type="text"] {
  @apply border rounded-md px-2 py-2 outline-blue;
}

button {
  @apply px-3 py-2 border rounded-md;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar:hover {
  height: 10px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  background-color: var(--red2);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
