@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fff;
  --background_blue: #7599b3;
  --white0: #fff;
  --white: #faf8f4;
  --black: #000;
  --blue: #678195;
  --blue2: #6890ad;
  --blue3: #39557c;
  --red: #adff2f;
  --red1: #d1e231;
  --red2: #9acd32;
  --gold: #ffcc00;
} */

:root {
  --background: #fff;
  --background_blue: #7599b3;
  --white0: #fff;
  --white: #faf8f4;
  --black: #000;
  --blue: #678195;
  --blue2: #6890ad;
  --blue3: #39557c;
  --red: #e9dfdc;
  --red1: #6f1817;
  --red2: #520100;
  --gold: #ffcc00;
  --ccgreen1: #7CFE00;
  --ccgreen2: #dfff00;
  --ccgreen3: #D0E232;
  --ccgreen4: #ADFE31;
  --ccgreen5: #9BCD31;
  --ccgreen: #84BD38;
  --ccred1: #F97D7E;
  --ccred2: #E44F4E;
  --cchovergray: #F3F5F4;
  --ccbgsecondary: #f9f9f9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #18191a;
    --white: #242526;
    --white0: #3a3b3c;
  }
} */

body {
  background: var(--background);
}
p,
li,
a {
  @apply text-[1rem] 1024px:text-[.8rem] text-black;
}

h1 {
  @apply text-[4rem] 820px:text-[3rem];
}

h2 {
  @apply text-[3rem] 1024px:text-[2rem];
}

h3 {
  @apply text-[2rem]  1024px:text-[1rem];
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select,
textarea,
input[type="date"] {
  @apply border rounded-md px-2 py-2 h-10 outline-red-2;
}

button {
  @apply px-3 py-2 border rounded-md;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar:hover {
  height: 10px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  background-color: var(--ccgreen);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.no-scroll-bar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.no-scroll-bar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

@layer utilities {
  .underline-ccgreen {
    border-bottom: 4px solid var(--ccgreen2); /* Change the number to the shade you prefer */
  }
}